DB_USER=thang
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_DATABASE=cuutruyen_production

PG_USER=thang
PG_PASSWORD=
PG_DATABASE=cuutruyen_production

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=

APP_BASE_URL=https://cuutruyen.localhost

