<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Chào bạn <%= @user.username %>,</p>
    <p>Bạn hoặc ai đó đã yêu cầu khôi phục lại mật khẩu cho tài khoản của bạn tại cuutruyen.net.</p>
    <p>Nếu đây là chính là bạn, hãy sử dụng URL dưới đây để tiến hành đặt lại mật khẩu:</p>
    <p><%= link_to @reset_password_url, @reset_password_url %></p>
    <p>Cảm ơn bạn đã đồng hành cùng Cứu Truyện. Nếu có bất cứ vấn đề gì, hãy liên hệ qua <%= link_to 'Fanpage Cứu Truyện', 'https://fb.com/CuuTruyenTranh' %> hoặc email <%= link_to 'ad.cuutruyen@gmail.com', 'mailto:ad.cuutruyen@gmail.com' %>. Vui lòng không trả lời lại email này.</p>
  </body>
</html>
