UID=1000
GID=1000

APP_BASE_URL=https://cuutruyen.net

DB_USER=thang
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_DATABASE=cuutruyen_production

SPHINX_ADDRESS=sphinx
SPHINX_PORT=36307

COMPOSE_PROJECT_NAME=cuutruyen
COMPOSE_FILE=docker-compose.prod.yml
